.gods-container {
    display: flex;
    height: 100vh;
    width: 95vw;
    align-items: center;
    flex-direction: column;
    margin: 0px 2.5vw 0px 2.5vw;
}

.god-card-holder {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
}

.god-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 146, 146);
    height: 150px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    margin-right: 6px;
    margin-bottom: 6px;
    
}

.god-card:hover {
    box-shadow: 0px 0px 20px rgba(116, 116, 116, 0.3);
    background-color: rgb(199, 199, 199);
    
}

.god-image {
    margin-bottom: 4px;
    height: 100px;
    border-radius: 10px;
}

.god-name {
    font-weight: 600;
}

.god-class {
    font-size: 15px;
}

.physical {
    border-bottom: 5px solid rgb(250, 89, 89);
    
}

.magical {
    border-bottom: 5px solid rgb(0, 110, 255);
}

h1 {
    color: white;
    text-decoration: underline;
    background-color: rgb(16, 51, 104);
    border: 5px solid rgba(10, 10, 10, 0.2);
    border-radius: 20px;
    padding: 2px 15px 10px 15px;

}